@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.chatItem {
    font-family: 'Share Tech Mono', monospace;
    background-color: #d1d1d1;
    border: 2px solid #ffffff22;
    color: #434242;
    padding: 12px;
    margin: 6px 0;
    cursor: pointer;
    position: relative;
    transition: background 0.2s ease-in-out, box-shadow 0.2s;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 13px;
    box-shadow: 0 0 4px #ffffff11;
}

.chatItem:hover {
    background: #ffffff;
    box-shadow: 0 0 4px #ffffff44, 0 0 8px #ffffff22;
}

.active {
    background: #ffffff;
    box-shadow: 0 0 6px #ffffff66;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.icon {
    color: #111111;
    background: transparent;
    border: 1px solid #ffffff66;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.title {
    flex-grow: 1;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
}

.actions {
    display: flex;
    gap: 6px;
}

.actionButton {
    background: transparent;
    border: 1px solid #ffffff33;
    color: #2d2a2acc;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    font-size: 14px;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.actionButton:hover {
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: 0 0 4px #ffffff88;
}